{
  "useTabs": true,
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "printWidth": 70,
        "useTabs": false,
        "arrowParens": "avoid",
        "proseWrap": "never",
        "singleQuote": true,
        "trailingComma": "all"
      }
    },
    {
      "files": "*.{json,babelrc,eslintrc,remarkrc,prettierrc}",
      "options": {
        "useTabs": false
      }
    }
  ]
}