
(static) {
    @static {
        file
        path *.ico *.css *.js *.gif *.jpg *.jpeg *.png *.svg *.woff *.json
    }
    header @static Cache-Control max-age=5184000
}

(security) {
    header {
        Strict-Transport-Security max-age=31536000;
        X-Content-Type-Options nosniff
        Referrer-Policy no-referrer-when-downgrade
    }
}

mytodotasks.duckdns.org {
  encode zstd gzip

  handle /auth/docs* {
    uri replace /auth/docs /docs
    reverse_proxy user-service:3001
  }

  handle /todos/docs* {
    uri replace /todos/docs /docs
    reverse_proxy todo-service:3002
  }

  handle /auth*  {
    reverse_proxy user-service:3001
  }

  handle /todos* {
    reverse_proxy todo-service:3002
  }

  handle {
    respond "Task Microservices API Ready" 200
  }

}